.date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 8px;
}

.date h3 {
  font-size: 32px;
  color: #000;
  font-weight: 700;
}

.date p {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
