.sidebar {
  position: fixed;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  flex-basis: 20%;
  background: #fff;
  padding: 20px 40px;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.logo span {
  color: #fabb18;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 80px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  background-color: none;
  padding: 25px 60px;
  border-radius: 10px;
  cursor: pointer;
  gap: 8px;
  transition: 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: #00000059;
  color: #fff;
}

.menu-item img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.menu-item p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

/* .menu-item.active p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
} */

.menu-item.active {
  background-color: #000;
}

.menu-item.active p {
  color: #fff;
}
